@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h5 class="display-4">Prueba Técnica División Informática S.A. </h5>
    <br/>
</div>
<div  >
        
    <h5>Sistema de clínicas</h5>
    <p>La clinica cuenta con una lista con medicos y pacientes</p>
    <p>De los medicos se conoce el numero de matricula, nombre y especialidad.</p>
    <p>De los pacientes se conoce numero de hstoria clinica, nombre y una lista de las consultas realizadas.</p>
    <p>Las consultas pueden ser en consultorio o la realizacion de una practica medica. </p>
    <p>De todas las consultas se sabe la fecha de realizacion, el profesional que la realiza, el costo, y 
        la descripcion y el costo del material descartable en las pracicas medicas.</p>
        
    <ul>
        <li>Plantear diseño UML y de Base de Datos</li>
        <li>Llevar a cabo en VB.NET con asp.net como front-end</li>
        <li>Generar una herencia persona - médico - paciente</li>
    </ul>
</div>
